openapi: "3.1.0"
info:
  title: KUB Bootstrap API
  description: Bootstrap API for bootstrapping on KUB Education platform
  version: 1.0.0-dev
servers:
  - url: https://api.kub.education/api/v1
    description: Production API Server
  - url: https://stage.api.kub.education/api/v1
    description: Stage API Server

paths:
  /bootstrap/organizer-user:
    post:
      summary: "Bootstrap organizer user"
      operationId: "createOrganizerUser"
      parameters:
        - name: "X-Bootstrap-Token"
          in: "header"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreateRequest"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDetailsResponse"
components:
  schemas:
    UserCreateRequest:
      type: "object"
      properties:
        last_name:
          type: "string"
          nullable: true
        first_name:
          type: "string"
          nullable: true
        middle_name:
          type: "string"
          nullable: true
        email:
          type: "string"
          nullable: true
    RoleDto:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
          nullable: true
        type:
          type: "string"
          nullable: true
          enum:
            - "ORGANIZER"
            - "SYSADMIN"
            - "ADMIN"
            - "LECTURER"
            - "STUDENT"
            - "USER"
    UserDetailsResponse:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
          nullable: true
        last_name:
          type: "string"
          nullable: true
        first_name:
          type: "string"
          nullable: true
        middle_name:
          type: "string"
          nullable: true
        email:
          type: "string"
          nullable: true
        status:
          type: "string"
          nullable: true
          enum:
            - "EMAIL_SENDING_FAILURE"
            - "ACTIVATION_PENDING"
            - "ACTIVATION_EXPIRED"
            - "ACTIVATED"
            - "RECOVERY_PENDING"
        roles:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/RoleDto"
